/* google font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap");
/* common css */
body {
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
main {
  width: 1200px;
  margin: auto;
  margin-bottom: 60px;
}
/* header css start */
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}
.logo h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #3a3a3a;
}
#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}
#navbar li {
  padding: 0 20px;
}
#navbar li a {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #3a3a3a;
}
/* header css end */
/* top banner css start */
.top-banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
.banner-half {
  width: 50%;
  padding-right: 10%;
}
.banner-half h1 {
  font-weight: 700;
  font-size: 49px;
  color: #3a3a3a;
  margin-bottom: 15px;
}
.banner-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 20px;
  background-color: #e02c6d;
  border-radius: 41px;
  border: none;
}
.banner-btn span {
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  margin: 0 8px;
}
.banner-btn i {
  font-size: 24px;
  color: #ffffff;
}
.banner-half {
  overflow: hidden;
}
.banner-half:hover .banner-img {
  transform: scale(1.1);
}
.banner-half .banner-img {
  background-size: cover;
  background-position: right;
  transition: 0.3s;
  overflow: hidden;
  border: 1px solid #ddd;
  margin: 0 150px;
}
/* top banner css end */
/* ecommerce section css start */
.ecommerce-area {
  background: linear-gradient(
    90deg,
    rgba(192, 204, 218, 0.1) 0%,
    rgba(192, 204, 218, 0.6) 50.38%,
    rgba(192, 204, 218, 0.1) 100%
  );
  margin-bottom: 60px;
}
.images {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
  justify-items: center;
  padding: 20px;
}
/* ecommerce section css end */
/* product section css start */
#product {
  text-align: center;
}
#product .section-title {
  font-weight: 600;
  font-size: 28px;
  color: #3a3a3a;
}
#product .pro-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}
#product .pro {
  width: 28%;
  min-width: 300px;
  padding: 10px 12px;
  border-radius: 5px;
  cursor: pointer;
  background: #ffffff;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  margin: 15px 0;
  transition: 0.2s ease;
  position: relative;
}
#product .pro:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}
#product .pro img {
  width: 100%;
  border-radius: 5px;
}
#product .pro .des {
  text-align: start;
}
#product .pro .des .des-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 16px;
  color: #18191f;
}
#product .pro .des h4 {
  font-size: 24px;
  color: rgba(0, 0, 0, 0.87);
  font-weight: 500;
  line-height: 12px;
}

#product .pro .des span {
  color: #606063;
  font-size: 12px;
}
#product .pro .des h5 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
  line-height: 25px;
  width: 200px;
}
#product .pro .des i {
  font-size: 12px;
  color: rgb(243, 181, 25);
  line-height: 14px;
}
.pro-btn-des {
  text-align: right;
  padding: 40px 0;
}
.pro-btn-des a {
  color: #e02c6d;
  font-size: 14px;
  font-weight: 700;
}
.pro-btn-des i {
  margin-left: 15px;
  color: #e02c6d;
}
/* product section css end */
/* Shop Page */
#feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
#feature .fe-box {
  width: 156px;
  text-align: center;
  padding: 15px 15px;
  box-shadow: 20px 20px 34px rgb(0 0 0 / 3%);
  border: 1px solid #cce7d0;
  border-radius: 4px;
  margin: 15px 0;
}
#feature .fe-box:hover {
  box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}
#feature .fe-box img {
  width: 100%;
  margin-bottom: 10px;
}
#feature .fe-box h6 {
  display: inline-block;
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color: #088178;
  background-color: #fddde4;
}
#feature .fe-box:nth-child(2) h6 {
  background-color: #cdebbc;
}
#feature .fe-box:nth-child(3) h6 {
  background-color: #d1e8f2;
}
#feature .fe-box:nth-child(4) h6 {
  background-color: #cdd4f8;
}
#feature .fe-box:nth-child(5) h6 {
  background-color: #f6dbf6;
}
#feature .fe-box:nth-child(6) h6 {
  background-color: #fff2e5;
}
/* footer section start here */
#footer-area {
  text-align: center;
  padding: 30px 0;
  background-color: #18191f;
}
.footer-content {
  color: #ffffff;
}
.footer-content h3 {
  font-size: 24px;
  line-height: 16px;
}
.footer-content h5 {
  font-size: 14px;
  line-height: 16px;
}
.social-icon i {
  background-color: #22213c;
  padding: 12px;
  line-height: 22px;
  border-radius: 50%;
  font-size: 18px;
  margin-left: 24px;
  transition: 0.3s;
  text-align: center;
  color: #fff;
}
.fab,
.far {
  font-weight: 400;
}

.fab {
  font-family: "Font Awesome 5 Brands";
}
.social-icon i:hover {
  background-color: chocolate;
}
/* footer section start end */
