/* google font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap");
/* common css */
body {
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
main {
  width: 1200px;
  margin: auto;
  margin-bottom: 60px;
}
/* header css start */
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}
.logo h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #3a3a3a;
}
#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}
#navbar li {
  padding: 0 20px;
}
#navbar li a {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #3a3a3a;
}
/* header css end */
/* top banner css start */
.top-banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
.banner-left {
  width: 580px;
}
.banner-left h1 {
  font-weight: 700;
  font-size: 52px;
  color: #3a3a3a;
  margin-bottom: 15px;
}
.banner-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 6px 15px;
  background-color: #e02c6d;
  border-radius: 41px;
  border: none;
}
.banner-btn span {
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  margin: 0 8px;
}
.banner-btn i {
  font-size: 24px;
  color: #ffffff;
}
.banner-right {
  overflow: hidden;
  border: 1px solid #ddd;
  background-image: url("img/Circle desing.jpg");
}
.banner-right:hover .banner-img {
  transform: scale(1.1);
}
.banner-right .banner-img {
  width: 440px;
  height: 415px;
  background-size: cover;
  background-position: center;
  transition: 0.3s;
  overflow: hidden;
}
/* top banner css end */
/* ecommerce section css start */
.ecommerce-area {
  width: 1110px;
  margin: auto;
  background: linear-gradient(
    90deg,
    rgba(192, 204, 218, 0.1) 0%,
    rgba(192, 204, 218, 0.6) 50.38%,
    rgba(192, 204, 218, 0.1) 100%
  );
  margin-bottom: 60px;
}
.images {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
  justify-items: center;
  padding: 20px;
}
/* ecommerce section css end */
/* product section css start */
#product {
  text-align: center;
}
#product.container {
  width: 1047px;
  margin: auto;
}
#product .section-title {
  font-weight: 600;
  font-size: 28px;
  color: #3a3a3a;
}
#product .pro-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}
#product .pro {
  width: 28%;
  min-width: 300px;
  padding: 10px 12px;
  border-radius: 5px;
  cursor: pointer;
  background: #ffffff;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  margin: 15px 0;
  transition: 0.2s ease;
  position: relative;
}
#product .pro:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}
#product .pro img {
  width: 100%;
  border-radius: 5px;
}
#product .pro .des {
  text-align: start;
}
#product .pro .des .des-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 16px;
  color: #18191f;
}
#product .pro .des h4 {
  font-size: 24px;
  color: rgba(0, 0, 0, 0.87);
  font-weight: 500;
  line-height: 12px;
}

#product .pro .des span {
  color: #606063;
  font-size: 12px;
}
#product .pro .des h5 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
  line-height: 25px;
  width: 200px;
}
#product .pro .des i {
  font-size: 12px;
  color: rgb(243, 181, 25);
  line-height: 14px;
}
.pro-sec-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #fff;
}
.pro-sec-btn span {
  color: #e02c6d;
  font-weight: 700;
  font-size: 14px;
  margin-right: 12px;
}
.pro-sec-btn i {
  color: #e02c6d;
}
/* product section css end */
#footer-area {
  text-align: center;
  padding: 30px 0;
  background-color: #18191f;
}
.footer-content {
  color: #ffffff;
}
.footer-content h3 {
  font-size: 24px;
  line-height: 16px;
}
.footer-content h5 {
  font-size: 14px;
  line-height: 16px;
}
